<template>
  <div class="greetings">
    <h1 class="green">Search For Books Here</h1>
      <input class="text-box" type="text" placeholder="Enter Title" v-model="title"/>
      <button @click="searchBook(this.title)">Search Book</button>
  </div>
</template>

<script>
import axios from 'axios'
import { useBookStore } from '../stores/book'
import _ from 'lodash'
export default {
  name: 'Home',
  data () {
    return{
      title:''
    }
  },
  methods: {
    searchBook(keyword){ 
      let self = this
      let store  = useBookStore()
      axios.get('https://openlibrary.org/search.json?q='+keyword)
      .then(function(response){
        if(response.data.numFound==0){
          alert('No Records Found')
        }
        else{
          var data = _.slice(response.data.docs,0,10)
          data.forEach((value, index) => {
             store.addBook(value.title,value.first_publish_year,value.number_of_pages_median)
          });
          self.$router.push('listbook')
        }
      })
      .catch(function(){
        alert('Please Enter A Valid Value For Search')
      })
    }
  }
}

</script>

<style scoped>
h1 {
  font-weight: 500;
  font-size: 2.6rem;
  top: -10px;
}

h3 {
  font-size: 1.2rem;
}

.greetings h1,
.greetings h3 {
  text-align: center;
}

@media (min-width: 1024px) {
  .greetings h1,
  .greetings h3 {
    text-align: left;
  }
}
.text-box {
  width: 100%;
  padding: 10px 35px 10px 15px;
  font-size: 14px;
  border-radius: 20px;
  border: 1px solid #aaa;
}
button{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-text-size-adjust: 100%;
    box-sizing: inherit;
    font: inherit;
    margin: 0;
    overflow: visible;
    text-transform: none;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    user-select: none;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    -webkit-appearance: button;
    margin-top: 15px;
}
</style>
