<template>
<table>
    <thead>
        <tr>
            <th>
                Book Title
            </th>
            <th>
                Year Published
            </th>
            <th>
                Number Of Pages
            </th>
        </tr>
    </thead>
    <tbody>
        <tr v-for="item in store.getBooks">
            <td>{{item.bookTitle}}</td>
            <td>{{item.yearPublished}}</td>
            <td>{{item.numberOfPages}}</td>
        </tr>
    </tbody>
</table>
<div class="button-wrap">
<button v-on:click="redirectBack">Go Back</button>
</div>
</template>
<script>
import { useBookStore } from '../stores/book'
export default {
    setup() {
    const store = useBookStore()

    return { store }
  },
  name: 'ListBook',
  data () {
    return{
      title:''
    }
  },
  methods:{
    redirectBack(){
        let store = useBookStore()
        store.clearBooks()
        this.$router.push('/')
    }
  }
}
</script>
<style scoped>
table { 
	width: 1024px; 
	border-collapse: collapse; 
	margin:50px auto;
	}


td, th { 
	padding: 10px; 
	border: 1px solid #ccc; 
	text-align: left; 
	font-size: 18px;
	}
button{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-text-size-adjust: 100%;
    box-sizing: inherit;
    font: inherit;
    margin: 0;
    overflow: visible;
    text-transform: none;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    user-select: none;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    -webkit-appearance: button;
      
    }
</style>